*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.promo{
    height: 950px;
    background:url('../img/bg/Layer_2.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.container{
    position:relative;
    width: 1140px;
    margin: 0 auto;
}
  
.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text{
    color: #F4CA16;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 14px;
    /* Text style for "WordPress"*/ 
}

.title{
    color: #f9bf3b;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 41px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 53px;
/* Text style for "С, оздать" */
}

.simple .title_big{
    color: #F4CA16;
    font-family: "Roboto - Black";
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 30px;
/* Text style for "это просто" */
}


.promo .promo_text{
    padding: 0 13px;
    color: #F4CA16;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    font-family: "Roboto Light";
    font-weight: 300px;
    text-align: center;
    margin-top: 23px;


}

.promo .promo_text span{
    color:red;
    font-family:"Roboto - Bold";
    font-weight: 700;
}

.promo .promo_btn{
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more{
    margin-top: 73px;
}

.more .more_text {
    color:#F4CA16;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    
    
}


.more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting{
    height: 604px;
    background-color: #efefef;
    padding:85px 0 75px 0;
}

.waiting .waiting_header{
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting_divider{
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
    
}

.waiting .waiting_subheader{
    margin-top: 17px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top:45px;
     
}

.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;
    margin: 30px;      
}

.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top: 33px;
    color:#4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization{
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header{
    margin-left: 391px;
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.optimization .optimization_text{
    margin-left: 391px;
    margin-top: 25px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    font-family: "Roboto - Light";
    font-weight: 300;
 
}

.optimization .optimization_text span{
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.optimization .optimization_img{
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish{
    min-height: 447px;
    padding:86px 0 79px 0;
    background: url('../img/bg/Layer_33.jpg') center center/cover no-repeat;
}

.finish .finish_header{
    color: #fff;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
}

.finish .finish_divider{
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.finish .finish_wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item{
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr{
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.podarok_2{
    margin: 0 auto;
    margin-top: 85px;
    width: 111px;
    height: 60px;
    background: url('../icons/finish/podarok_2.png') center center/cover no-repeat;
}

.podarok_1{
    margin: 0 auto;
    width: 154px;
    height: 113px;
    background: url('../icons/finish/podarok.png') center center/cover no-repeat;
}

.podarok_text{
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 43px;
    text-align: center;
}

.podarok_btn{
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.podarok_icon{
    display: block;
    margin: 0 auto;
    margin-top: 176px;
}

.podarok_descr{
    color: #252525;
    margin-top: 37px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
}

.podarok_descr_2{
    color: #299cbd;
    margin-top: 30px;
    font-family: "Roboto - Black";
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
}

.podarok_descr_3{
    color: #4a4a4a;
    margin-top: 25px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
}

.block{
    min-height: 447px;
    padding:86px 0 79px 0;
    background: url('../icons/finish/Rectangle_2_copy.jpg') center center/cover no-repeat;
}

.block_02{
    margin-top: 18px;
    width: 1660px;
    height: 166px;
    background-color: #1a1a1a;
    background: url('../icons/finish/Rectangle_5_copy_2.jpg') center center/cover no-repeat;
}
.block_02 .block_text{
    margin-top: 25px;
    margin: 0 auto;
    text-align: center;
    color: #536872;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}
